<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599344409686-a71jhf47m4sd1ps1pct4n4je16g3vjvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599344409686-a71jhf47m4sd1ps1pct4n4je16g3vjvk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599344409686-3alqrv69852jucodqisl520nuobc54pr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHcAtnBrEkVH02BeJAmHjPrsNvb-IH8A4</string>
	<key>GCM_SENDER_ID</key>
	<string>599344409686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ppctoda.customer</string>
	<key>PROJECT_ID</key>
	<string>toda-pal</string>
	<key>STORAGE_BUCKET</key>
	<string>toda-pal.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599344409686:ios:b4aa716656b3f1ae675ff7</string>
	<key>DATABASE_URL</key>
	<string>https://toda-pal-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>